:root {
    --main-text: 12px;
    --secondary-text: 10px;
}

main {
    background-image: url("../img/mine.jpg");
}

img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.col-10 {
    margin-top: -70px;
    min-width: 800px;
}

#top_app_row {
    height: 15%;
}

#bottom_app_row {
    height: 85%;
}

.main_text {
    font-size: var(--main-text);
}

.secondary_text {
    font-size: var(--secondary-text);
}

.user_message {
    min-width: 30%;
    background-color: #E7F8D7;
}

.contact_message {
    min-width: 30%;
    background-color: #FFFFFF;
}


/* main_text fw-semibold */

/* secondary_text text-body-tertiary */